<!-- views/error.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Erreur</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <h1>Erreur</h1>
    <p><%= message %></p>
    <a href="/">Retour à l'accueil</a>
</body>
</html>