<!-- register.js-->
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/style.css" media="screen" type="text/css"/>
    <script src="/js/script.js" defer></script>
</head>
<body>
    <div id="container">
        <!-- Formulaire d'inscription avec vérification côté client -->
        <form action="/register" method="POST" id="registerForm">
            <h1>Sign up</h1>

            <label for="username">Nom d'utilisateur:</label>
            <input type="text" placeholder="Entrer nom d utilisateur" name="username" id="username" required>

            <label><b>Email</b></label>
            <input type="text" placeholder="Entrer l email" name="email" id="email" required>

            <label for="role">Rôle:</label>
            <select id="role" name="role">
                <option value="user">Utilisateur</option>
                <option value="admin">Admin</option>
            </select>

            <label><b>Mot de passe</b></label>
            <input type="password" placeholder="Entrer le mot de passe" name="password" id="password" required>

            <label><b>Confirmer le mot de passe</b></label>
            <input type="password" placeholder="Confirmer le mot de passe" name="passwordConfirm" id="passwordConfirm" required>

            <input type="checkbox" id="showPassword"> Show Password

            <input type="submit" id='submit' value='REGISTER'>
            <a href="/login" class="btn btn-success ml-2">Already registered? Login</a>
        </form>
    </div>
</body>
</html>
